/*------------------------
           Fonts
---------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
/*-----------------------------
Common styles or utilities
------------------------------*/
.title {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}

.description {
  font-family: "Poppins", sans-serif;
}

.whole-container > header,
main {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

main {
  width: 1047px;
  margin: 0 auto;
}

/*-----------------------------
            header
------------------------------*/

/*-----------------------------
            nav bar
------------------------------*/
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.navigation .title {
  font-weight: 700;
  font-size: 24px;
}

.navigation .buttons {
  display: flex;
  gap: 34px;
}

.navigation .buttons a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  transition: color ease-in-out 0.2s;
}

.navigation .buttons div {
  transition: transform ease-in-out 0.2s, box-shadow;
}

.navigation .buttons div:hover {
  transform: translate(0, -20%) scale(115%);
}

.navigation .buttons a:hover {
  color: #f30196;
}

.hidden-button > .hide-2 {
  visibility: hidden;
}

/*-----------------------------
        banner styles
------------------------------*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 73px;
}

.banner .text .title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 16px;
}

.banner .text .description {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  margin-bottom: 25px;
  max-width: 505px;
}

.banner .text button {
  background-color: #fd3f85;
  border: 0;
  border-radius: 41px;
  width: 200px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: ease-in-out 0.3s;
}

.banner .text button:hover {
  background-color: #cf004c;
  box-shadow: inset 0 0 15px #9c01388f;
  cursor: pointer;
  color: rgb(255, 198, 250);
  font-size: larger;
}

.banner img {
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*----------------------
        Sponsors
-----------------------*/
.sponsors img:hover {
  cursor: pointer;
  transform: translate(0, -60%) scale(135%);
}

.sponsors img {
  transition: transform ease-in-out 0.3s;
}

.sponsors .row-1,
.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-top: 1px solid #aaaaaa48;
  border-bottom: 1px solid #aaaaaa48;
  padding: 35px 62px;
  margin-bottom: 100px;
}

/*-----------------------------
            header end
------------------------------*/

/*-----------------------------
     Popular Accessories
------------------------------*/

.collection .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
}

.collection .title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding: 25px 0 25px;
}

.item {
  width: 329px;
  height: 476px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  transition: transform ease-in-out 0.2s, filter ease-in-out 0.2s;
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: opacity(80%);
}

.item .text {
  margin: 15px;
}

.item div img {
  width: 300px;
  height: 256px;
  margin: 15px;
  border-radius: 8px;
}

.item-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
  margin: 16px 0 6px;
}

.item .price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
}

.item .stars {
  font-size: 11px;
  color: #fb8200;
}

.item .no {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #5e6366;
}

.item .description {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}

.rating {
  display: flex;
  gap: 8px;
  margin-bottom: 3px;
}

#see-more {
  color: rgba(224, 44, 109, 0.87);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 50px;
}

#see-more > a {
  transition: transform ease-in-out 0.3s;
}

#see-more > a:hover {
  transform: scale(1.1) translate(0, -20%);
}

#see-more > #more {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: rgba(224, 44, 109, 0.87);
  letter-spacing: 2px;
}

/*-----------------------------
          Featured 
------------------------------*/
.featured {
  margin: 100px 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 96px;
  align-items: center;
}

.featured .text .title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
  line-height: 40px;
}

.featured .text .description {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
  margin: 16px 0 16px;
}

.featured .text .button {
  background: #e02c6d;
  border-radius: 5px;
  width: 165px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 8px;
  letter-spacing: 1.5px;
  box-shadow: 2px 5px 10px #00000049;
  transition: transform ease-in-out 0.3s, background-color ease-in-out 0.3s,
    color ease-in-out 0.3s;
}

.featured .text .button:hover {
  transform: scale(1.1);
  background-color: #ff6ba1;
  cursor: pointer;
}

.featured .text a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
}

.featured img {
  box-shadow: 12px 12px 20px #00000073;
  border-radius: 18px;
}

/*-----------------------------
              footer
 ------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 239px;
  background: #0a0826;
}

footer .text {
  text-align: center;
}

footer .text .title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

footer .text .description {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 3px 0 17px;
  color: #d9dbe1;
}

footer .icons {
  display: flex;
  gap: 16px;
}

footer .icons a {
  text-decoration: none;
  color: #d9dbe1;
  font-size: 18px;
  background-color: #d9dbe148;
  border-radius: 15px;
  background-position: center;
  border: 5px solid #d9dbe11c;
}

@media only screen and (max-width: 688px) {
  /*-----------------------------
    Common styles or utilities
    ------------------------------*/
  .whole-container {
    width: 90%;
    margin: 0 auto;
  }

  /*-----------------------------
                nav bar
    ------------------------------*/

  .hidden-button .title {
    text-align: center;
  }

  .hidden-button > .hide-2 > a {
    visibility: visible;
    color: #3a3a3a;
  }

  .navigation .buttons {
    display: none;
  }

  .hidden-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 59px;
  }

  .navigation .hide {
    display: none;
  }

  .navigation .title {
    font-weight: 700;
    font-size: 16px;
  }

  .navigation {
    display: flex;
    margin-top: 35px;
    align-items: center;
    justify-content: space-between;
  }

  /*-----------------------------
            banner styles
    ------------------------------*/

  .banner {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 22px;
    margin-bottom: 50px;
  }

  .banner > .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner > .text > .title > br {
    display: none;
  }

  .banner > .text > .title {
    font-weight: 700;
    font-size: 28px;
  }

  .banner .image img {
    width: 257px;
    background-size: 257px;
  }

  /*----------------------
          Sponsors
  -----------------------*/

  .sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .sponsors .row-1 {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .sponsors .row-2 {
    display: flex;
    gap: 23px;
    justify-content: center;
  }

  .sponsors img {
    height: 25px;
  }

  /*----------------------------------
          Popular Accessories
  --------------------------------*/
  .main,
  .collection,
  .items {
    max-width: 329px;
    margin: 0 17px;
  }

  .bracket {
    display: flex;
    flex-direction: column;
  }

  .collection .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .collection .title {
    font-weight: 600;
    font-size: 16px;
  }
  #see-more {
    color: rgba(224, 44, 109, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 50px;
  }

  #see-more > #more {
    font-weight: 700;
    font-size: 16px;
  }
  .item img {
    width: 300px;
    height: 256px;
  }

  .item {
    width: 329px;
    height: 476px;
  }
  /*----------------------------------
            Featured
  --------------------------------*/
  .featured {
    display: flex;
    flex-direction: column-reverse;
    width: 390px;
    gap: 20px;
    align-items: center;
  }

  .featured img {
    width: 299px;
    height: 188px;
  }

  .featured .text .title {
    width: 311px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #0a0826;
  }

  .featured .text .description {
    width: 329px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #6c6c6c;
  }

  .featured .text .button {
    width: 155px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
  
}
